services:
  mongodb:
    image: mongo:latest
    container_name: mern-db
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  api:
    build: ./server
    container_name: mern-api
    restart: always
    env_file: .env
    environment:
      - NODE_ENV=production
    ports:
      - "5000:5000"
    depends_on:
      - mongodb

  client:
    build: ./client
    container_name: mern-client
    restart: always
    ports:
      - "80:80"
    depends_on:
      - api

volumes:
  mongodb_data:
